.filters {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    font-weight: 700;
    font-size: 14px;
}

.filters > div {
    display: flex;
    gap: 1rem;
}


.filters option, .filters select {
    background-color: #242424;
    color: #fff;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}